$fg-color: #acabab;


@media only screen and (min-width: 100px) and (max-width: 1050px) {
    .bg-programs-our-prog {
        flex-direction: column !important;
    }
    .bg-programs-our-prog-img  {
        width: 100% !important;
    }
    .bg-programs-our-prog-content {
        width: 100% !important;
        padding: 10% 3% 0%;
        text-align: center !important;
    }
}

:host {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
}
.bg-programs {
    height: 100%;
}

.bg-programs-content {
    height: 95%;
}

.bg-programs-our-prog-header-txt {
    text-align: center;
    height: 100px;
    line-height: 90px;
    font-size: 2rem;
    font-weight: 900;
}
.bg-programs-our-prog-header-discription {
    padding: 1% 20%;
    line-height: 1.4rem;
    text-align: center;
}

.bg-programs-our-prog {
    display: flex;
    margin: 1% 20%;
    &-img {
        background: url('../../../assets/program.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 20rem;
        width: 50%;
    }
    &-content {
        width:50%;
        padding: 10% 3% 0%;
    }
    &-title {
        font-size: 1.5rem;
        margin: 1rem 0%;
    }
    &-info {
        font-size: small;
        color: $fg-color;
    }
    &-sub1 {
        margin: 4% 0%;
        font-size: small;
        color: #7971ea;
    }
    &-sub2 {
        margin: 4% 0%;
        font-size: small;
        color: #7971ea;
    }
}
