:host {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-home {
    height: 100%;
    background: #2f2d2d;
    opacity: 0.9;
}
.bg-home-content {
    display: flex;
    height: 95%;
}
.bg-home-left {
    flex: 1;
    box-sizing: inherit;
    position: relative;
    & h4 {
        position: absolute;
        top: 22rem;
        left: 26%;
        font-size: 2rem;
        color: white;
    }
    & p {
        position: absolute;
        top: 25rem;
        line-height: 1.5rem;
        left: 26%;
        color: #a09f9f;
    }
}
.bg-home-right {
    flex: 1;
    box-sizing: inherit;
    position: relative;
    margin: 5rem 5%;
}
.bg-home-form {
    position: absolute;
    top: 12rem;
    width: 100%;
    background: white;
    border-radius: 6px;
}
.bg-home-form-header {
    padding: 5% 5%;
}
.bg-home-form-sign-up {
    padding: 0% 5% 5%;
    display: flex;
    flex-direction: column;  
}
.bg-home-form-input {
    height: 40px;
    margin: 1% 0%;
    padding: 2%;
    border-radius: 4px;
    outline: none;
    border: 2px solid #E2E2E2;
}
.bg-home-form-submit {
    background: #7971ea;
    color: white;
    border-radius: 20px;
    outline: none;
    height: 36px;
    margin: 0px;
    width: 8em;
    outline: none;
    border: none;
    margin: 4% 0%;
}