<div class="bg-home">
    <div>
        <app-menu></app-menu>
    </div>
    <div class="bg-home-content">
        <div class="bg-home-left">
            <h4>Learn From The Expert</h4>
            <p>{{txt}}</p>
        </div>
        <div class="bg-home-right">
            <div class="bg-home-form">
                <p class="bg-home-form-header">Sign Up</p>
                <form class="bg-home-form-sign-up" #signupForm="ngForm" (ngSubmit)="logForm(signupForm.value)" novalidate>
                    <input class="bg-home-form-input" type="text" placeholder="Email Address"/>
                    <input class="bg-home-form-input" type="password" placeholder="Password"/>
                    <input class="bg-home-form-input" type="password" placeholder="Re-type-Password"/>
                    <button class="bg-home-form-submit" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>