@media only screen and (min-width: 100px) and (max-width:1000px)  { 
    .header-link-small-screen, .header-nav-small-menu-slider {
        display: block;
    }
    .header-link, .header-contact {
        display: none;
    }
}
@media only screen and (min-width: 1001px) { 
    .header-link-small-screen, .header-nav-small-menu-slider {
        display: none;
    }
    .header-link, .header-contact {
        display: block;
    }
}

.header-container {
    display: flex;
    box-shadow: 0 8px 6px -6px #E2E2E2;
    height: 3em;
}

.header-txt {
    flex: 1;
    text-align: center;
    & h4 {
        padding: 12px 0%;
        font-weight: 900;
    }
}
.header-link  {
    flex: 1;
    text-align: center;
}
.header-contact {
    flex: 1;
    text-align: center;
    align-self: center;
    & button, button:focus {
        background: #7971ea;
        color: white;
        border-radius: 20px;
        outline: none;
        height: 30px;
        margin: 0px;
        width: 8em;
        outline: none;
        border: none;
    }
}
.header-nav-menu {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    color: #888383;
}

.header-nav-list {
    flex: 1;
    height: 26px;
    & a {
        text-decoration: none;
        
        display: inline-block;
        height: 20px;
        color: inherit;
    }
}
.header-nav-list--selected {
    & a {
        border-bottom: 2px solid #7971ea;
    }
}

.header-link-small-screen {
    width: 2rem;
    text-align: center;
}

.header-nav-small-menu, header-nav-small-menu:focus {
    background: transparent;
    color: #8a8787;
    border: none;
    font-size: 1.4rem;
    height: 100%;
    cursor: pointer;
    outline: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.header-nav-small-menu-slider {
    position: absolute;
    top: 0;
    height: 100%;
    background: white;
    z-index: 1;
}
.header-nav-small-menu-slider-close {
    right: -150px;
    transition: 1s;
    // animation: ease-in-out;
    
}
.header-nav-small-menu-slider-open {
    right: 0px;
    transition: 1s;
    // animation: ease-in-out;
    width: 20rem;
    padding: 2%;
}
.header-nav-small-menu-slider-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #908b8b;
    cursor: pointer;
}
.header-nav-small-list {
    margin: 6% 1%;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

