<div class="header-container"> 
    <div class="header-txt">
        <h4 [ngStyle]="{'color': headerTxt}">HarmanSchool</h4>
    </div>
    <nav class="header-link">
        <ul class="header-nav-menu">
            <li class="header-nav-list"><a href="javascript:void(0);" [routerLink]="['/home']" [routerLinkActive]="['header-nav-list-link--ul_selected--ul_white']">Home</a></li>
            <li class="header-nav-list"><a href="javascript:void(0);" [routerLink]="['/courses']" [routerLinkActive]="['header-nav-list-link--ul_selected--ul_purple']">Courses</a></li>
            <li class="header-nav-list"><a href="javascript:void(0);" [routerLink]="['/programs']" [routerLinkActive]="['header-nav-list-link--ul_selected--ul_purple']">Programs</a></li>
            <li class="header-nav-list"><a href="javascript:void(0);" [routerLink]="['/teachers']" [routerLinkActive]="['header-nav-list-link--ul_selected--ul_purple']">Teachers</a></li>
        </ul>
    </nav>
    <div class="header-contact">
        <button [routerLink]="['/contactus']" [routerLinkActive]="['header-nav-list--selected-darkBlue']">Contact Us</button>
    </div>
    <!-- To enable only when small screen or resized -->
    <nav class="header-link-small-screen">
        <button class="header-nav-small-menu"><fa-icon [icon]="bars" (click)="onSmallNavSelection()"></fa-icon></button>
    </nav>
    <div class="header-nav-small-menu-slider" 
        [ngClass]="{'header-nav-small-menu-slider-close': smallNavSelected==false, 'header-nav-small-menu-slider-open': smallNavSelected==true}"
        >
        <button class="header-nav-small-menu-slider-close-btn"><fa-icon [icon]="close" (click)="onSmallNavSelection()"></fa-icon></button>
        <ul class="header-nav-small-menu">
            <li class="header-nav-small-list"><a href="javascript:void(0);" [routerLink]="['/home']" [routerLinkActive]="['header-nav-list--selected']">Home</a></li>
            <li class="header-nav-small-list"><a href="javascript:void(0);" [routerLink]="['/courses']" [routerLinkActive]="['header-nav-list--selected']">Courses</a></li>
            <li class="header-nav-small-list"><a href="javascript:void(0);" [routerLink]="['/programs']" [routerLinkActive]="['header-nav-list--selected']">Programs</a></li>
            <li class="header-nav-small-list"><a href="javascript:void(0);" [routerLink]="['/teachers']" [routerLinkActive]="['header-nav-list--selected']">Teachers</a></li>
        </ul>
        <div>
            <button></button>
        </div>
    </div>
    <!-- ****** -->
</div>