<div class="bg-courses">
    <div>
        <app-menu></app-menu>
    </div>
    <div class="bg-courses-container">
        <div class="bg-courses-top-layout">
            <p class="bg-courses-header-txt">Courses</p>
        </div>
        <div class="bg-courses-img-list">
            <div class="bg-courses-img-design">
                <div class="bg-courses-img-design-logo"></div>
                <div class="bg-courses-img-design-price">99$</div>
                <div class="bg-courses-img-design-course">
                    <p class="bg-courses-img-design-course-weeks"><fa-icon [icon]="clock"></fa-icon> 4 Lesson / 12 week</p>
                    <p class="bg-courses-img-design-course-type">Logo Design Course</p>
                    <p class="bg-courses-img-prog-course-descrption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
                <div class="bg-courses-img-design-subscribers">
                    <div class="bg-courses-img-design-subscribers-info"><p><fa-icon [icon]="users"></fa-icon> 2,193 students</p></div>
                    <div class="bg-courses-img-design-subscribers-msg"><p><fa-icon [icon]="comments"></fa-icon> 2</p></div>
                </div>
            </div>
            <div class="bg-courses-img-prog">
                <div class="bg-courses-img-prog-logo"></div>
                <div class="bg-courses-img-prog-price">99$</div>
                <div class="bg-courses-img-prog-course">
                    <p class="bg-courses-img-design-course-weeks"><fa-icon [icon]="clock"></fa-icon> 4 Lesson / 12 week</p>
                    <p class="bg-courses-img-prog-course-type">JS Programming Language</p>
                    <p class="bg-courses-img-prog-course-descrption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
                <div class="bg-courses-img-prog-subscribers">
                    <div class="bg-courses-img-design-subscribers-info"><p><fa-icon [icon]="users"></fa-icon> 2,193 students</p></div>
                    <div class="bg-courses-img-design-subscribers-msg"><p><fa-icon [icon]="comments"></fa-icon> 2</p></div>
                </div>
            </div>
            <div class="bg-courses-img-physics">
                <div class="bg-courses-img-physics-logo"></div>
                <div class="bg-courses-img-physics-price">99$</div>
                <div class="bg-courses-img-physics-course">
                    <p class="bg-courses-img-design-course-weeks"><fa-icon [icon]="clock"></fa-icon> 4 Lesson / 12 week</p>
                    <p class="bg-courses-img-physics-course-type">Study Law of Physics</p>
                    <p class="bg-courses-img-prog-course-descrption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
                <div class="bg-courses-img-physics-subscribers">
                    <div class="bg-courses-img-design-subscribers-info"><p><fa-icon [icon]="users"></fa-icon> 2,193 students</p></div>
                    <div class="bg-courses-img-design-subscribers-msg"><p><fa-icon [icon]="comments"></fa-icon> 2</p></div>
                </div>
            </div>
        </div>
        <div class="bg-courses-down-layout"></div>
    </div>
</div>