@media only screen and (min-width: 100px) and (max-width:1000px) {
    .bg-courses-container {
        height: auto !important;
    }
    .bg-courses-top-layout {
        height: 10% !important;
    }
    .bg-courses-header-txt {
        padding: 20px 0% !important;
    }
    .bg-courses-img-list {
        position: relative !important;
        display: flex;
        flex-direction: column !important;
        width: 50% !important;
        margin: 0% 25% !important;
        top: 3rem !important;
    }
    .bg-courses-img-design, .bg-courses-img-prog, .bg-courses-img-prog {
        margin: 2% 0% !important; 
    }
}

:host {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #acabab;
    background: white;
}
.bg-courses {
    height: 100%;
    position: relative;
}
.bg-courses-container {
    height: 90%;
    position: relative;
}
.bg-courses-top-layout {
    height: 50%;
    background: #7971ea;
    color: white;
}
.bg-courses-header-txt {
    height: 100%;
    text-align: center;
    padding: 100px 0%;
    font-weight: 900;
    font-size: 2rem;
}

.bg-courses-img-list {
    position: absolute;
    width: 70%;
    display: flex;
    margin: 0% 15%;
    top: 14rem;
}
.bg-courses-img-design {
    width: 100%;
    margin: 0% 2%;
    position: relative;
    &-logo {
        background: url("../../../assets/teacher_1.jpg");
        height: 16rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: 100%;
    }
    &-price {
        position: absolute;
        top: 15rem;
        background: #7971ea;
        padding: 4%;
        right: 0;
        color: white;
        font-size: calc(1.5vw - 0.6vw);
    }
    &-course {
        padding: 10% 4%;
        background-color: #f8f8f8;
        min-height: 10.5rem;
        &-weeks{
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
        }
        &-type {
            color: #7971ea;
            font-size: larger;
            margin: 2% 0%;
        }
        &-descrption {
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
            line-height: 1.4rem;
        }
    }
    &-subscribers {
        background-color: #f8f8f8;
        display: flex;
        &-info {
            width: 70%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            border-left-width: 0.5px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
        &-msg {
            width: 30%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            border-right-width: 0.5px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
    }
}
.bg-courses-img-prog {
    width: 100%;
    margin: 0% 2%;
    position: relative;
    &-logo {
        background: url("../../../assets/teacher_2.jpg");
        height: 16rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: 100%;
    }
    &-price {
        position: absolute;
        top: 15rem;
        background: #7971ea;
        padding: 4%;
        right: 0;
        color: white;
        font-size: calc(1.5vw - 0.6vw);
    }
    &-course {
        padding: 10% 4%;
        background-color: #f8f8f8;
        min-height: 10.5rem;
        &-weeks{
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
        }
        &-type {
            color: #7971ea;
            font-size: larger;
            margin: 2% 0%;
        }
        &-descrption {
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
            line-height: 1.4rem;
        }
    }
    &-subscribers {
        background-color: #f8f8f8;
        display: flex;
        &-info {
            width: 70%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
        &-msg {
            width: 30%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            border-right-width: 0.5px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
    }
}
.bg-courses-img-physics {
    width: 100%;
    margin: 0% 2%;
    position: relative;
    &-logo {
        background: url("../../../assets/course_1.jpg");
        height: 16rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: 100%;
    }
    &-price {
        position: absolute;
        top: 15rem;
        background: #7971ea;
        padding: 4%;
        right: 0;
        color: white;
        font-size: calc(1.5vw - 0.6vw);
    }
    &-course {
        padding: 10% 4%;
        background-color: #f8f8f8;
        min-height: 10.5rem;
        &-weeks{
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
        }
        &-type {
            color: #7971ea;
            font-size: larger;
            margin: 2% 0%;
        }
        &-descrption {
            font-size: small;
            color: #acabab;
            margin: 2% 0%;
            line-height: 1.4rem;
        }
    }
    &-subscribers {
        background-color: #f8f8f8;
        display: flex;
        &-info {
            width: 70%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
        &-msg {
            width: 30%;
            border-color: #E2E2E2;
            border-style: solid;
            border-width: 1px;
            border-right-width: 0.5px;
            padding: 4%;
            font-size: small;
            color: #acabab;
        }
    }
}

.bg-courses-down-layout {
    height: 50%;
    background-color: white;
}
