<div class="bg-teachers">
    <div><app-menu></app-menu></div>
    <div class="bg-teachers-container">
        <p class="bg-teachers-container-title">Our Teachers</p>
        <p class="bg-teachers-container-subtitle">{{txt}}</p>
        <div class="bg-teachers-container-teachersLists">
            <div class="bg-teachers-container-teachersViewGrid">
                <img class="bg-teachers-container-teachersImg teacherFirstImg"/>
                <div class="bg-teachers-container-teachersView">
                    <p class="bg-teachers-container-teachersName">Benjamine</p>
                    <p class="bg-teachers-container-teachersType">Physical Teacher</p>
                    <p class="bg-teachers-container-teachersInfo">{{txt}}</p>
                </div>
            </div>
            <div class="bg-teachers-container-teachersViewGrid">
                <img class="bg-teachers-container-teachersImg teacherSecondImg"/>
                <div class="bg-teachers-container-teachersView">
                    <p class="bg-teachers-container-teachersName">Katleena</p>
                    <p class="bg-teachers-container-teachersType">Physical Teacher</p>
                    <p class="bg-teachers-container-teachersInfo">{{txt}}</p>
                </div>
            </div>
            <div class="bg-teachers-container-teachersViewGrid">
                <img class="bg-teachers-container-teachersImg teacherThridImg"/>
                <div class="bg-teachers-container-teachersView">
                    <p class="bg-teachers-container-teachersName">Sadie</p>
                    <p class="bg-teachers-container-teachersType">Physical Teacher</p>
                    <p class="bg-teachers-container-teachersInfo">{{txt}}</p>
                </div>
            </div>
        </div>
    </div>
</div>