/* You can add global styles to this file, and also import other style files */


* {
    font-family: sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}


$border-color: #E2E2E2;
$btn-bg-color: #7971ea;
$bg-color: #ffffff;
$btn-fg-color: #ffffff;
$fg-color: #acabab;

input {
    border-radius: 4px;
    outline: none;
    border: 2px solid $border-color;
}

button {
    background: $btn-bg-color;
    color: $btn-fg-color;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    background: url("assets/Bg_Home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 99.95vh;
    margin: 0px;
    position: relative;
}